@import "~bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 75%;
}

.form {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.form__input {
    min-height: 25px;
    width: 100%;
}

.form__btn {
    border: none;
    cursor: pointer;
    width: 100px;
}

.todo-item {
    display: flex;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.todo-item--checked {
    text-decoration: line-through;
}
.todo-item__description {
    flex-grow: 1;
    padding-left: 10px;
}
.todo-item__delete {
    border: none;
    cursor: pointer;
}

.form__label {
    width: 100%;
}